<itcorpo-sidebar [(collapsed)]="sidebarCollapsed">
  RECENTLY VIEWED EMPLOYEES DISPLAYED HERE
</itcorpo-sidebar>

<span (click)="onToggleSidebar()" class="icon">📖</span>
<!-- <itcorpo-round-button (clicked)="onToggleSidebar()"></itcorpo-round-button> -->

<h2>Employees</h2>

<itcorpo-loader *ngIf="loading"></itcorpo-loader>

city: <itcorpo-dropdown [options]="cities"></itcorpo-dropdown>
<!-- 
count: {{ (employees$ | async).length }}
count: {{ (employees$ | async).length }} -->

<div *ngIf="employees$ | async as employees">
  count: {{ employees.length }}
  <ul>
    <li *ngFor="let e of employees">
      {{ e | nameAndTitle }} {{ e | flag }}
      (<a routerLink="/employees/{{ e.id }}" routerLinkActive="active">details</a>)
    </li>
  </ul>
</div>
