body {
  margin: 0;
  padding: 8px 40px 8px 40px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.icon {
  font-size: 48px;
  padding: 8px;
  cursor: pointer;
}
